 * { padding: 0px; margin: 0px; }
 body { background: #F9F9F7 url('theme/a1.gif?1477855309') repeat-x scroll 0px 0px; font-size: 12px; font-family: Verdana, "trebuchet ms", helvetica, sans-serif; color: #787866; line-height: 18px; }
 a { color: #FF7800; text-decoration: underline; }
 a:hover { text-decoration: none; }
 sup { font-size: 0.5em; }
 div.paragraph { margin-bottom: 14px; text-align: justify; }
 p { margin-bottom: 14px; text-align: justify; }
 img.picA { position: relative; top: -2px; background: url('theme/a47.gif?1477855309') no-repeat; width: 76px; height: 74px; padding: 8px; }
 img.picB { position: relative; top: -2px; background: url('theme/a26.gif?1477855309') no-repeat; width: 146px; height: 75px; padding: 7px; }
 img.floatleft { float: left; margin: 0px 14px 3px 0px; }
 ul.linklist { list-style: none; }
 ul.linklist li { border-top: solid 1px #EEEEEE; padding-top: 5px; margin: 5px 0px 0px 0px; }
 ul.linklist li.first { border-top: 0px; margin-top: 0px; padding-top: 0px; }
 #upbg { position: absolute; top: 0px; left: 0px; background: #fff url('theme/upbg.gif?1477855309') no-repeat; width: 747px; height: 264px; z-index: 1; }
 #outer { position: relative; width: 747px; margin: 0 auto; background: #fff url('theme/abg.gif?1477855309') repeat-y; }
 #inner { position: relative; padding: 13px 30px 13px 30px; z-index: 2; }
 #header { position: absolute; width: 202px; height: 92px; color: #fff; padding-left: 20px; }
 #header span { font-weight: normal; }
 #header h1 { position: absolute; font-size: 23px; letter-spacing: -1px; top: 30px; height: 92px; line-height:1.5; }
 #header h2 { position: absolute; font-size: 10px; font-weight: normal; color: #FCE2CA; top: 51px; line-height:1.5; }
 #header sup { color: #FCE2CA; }
 #splash { position: absolute; background: url('theme/%%HEADERIMG%%?1477855309') no-repeat; width: 687px; height: 103px; }
 #menu { position: relative; background: #46461F url('theme/a16.gif?1477855309') repeat-x; height: 67px; padding: 0px 20px 0px 5px; margin: 98px 0px 10px 0px; }
 #menu ul { float:left; }
 #menu ul li { float:left; display: inline; margin-left: 3px; padding:0; height:43px; }
 #menu ul li.first { border-left: 0px; }
 #menu ul li a { float:left; background-color: transparent; background-repeat: repeat-x; padding: 8px 12px 8px 12px; margin-top:9px; font-size: 12px; color: #fff; font-weight: bold; }
 #menu ul li a:hover { background: #fff url('theme/a18.gif?1477855309') repeat-x top; color: #4A4A24; text-decoration: none; }
 #active a:link { background: #fff url('theme/a18.gif?1477855309') repeat-x top; color: #4A4A24; text-decoration: none; }
 #active a:hover { background: #fff url('theme/a18.gif?1477855309') repeat-x top; color: #4A4A24; text-decoration: none; }
 #active a:visited { background: #fff url('theme/a18.gif?1477855309') repeat-x top; color: #4A4A24; text-decoration: none; }
 #date { position: absolute; top: 0px; line-height: 52px; color: #BDBDA2; right: 30px; font-weight: bold; font-size: 12px; letter-spacing: -1px; }
 #secondarycontent { position: relative; width: 180px; float: right; }
 #secondarycontent h3 { position: relative; top: 4px; font-size: 16px; line-height: 25px; color: #656551; letter-spacing: -1px; background: url('theme/a22.gif?1477855309') bottom repeat-x; padding: 0px 0px 10px 10px; margin-bottom: 20px; }
 #secondarycontent .content { padding: 0px 10px 0px 10px; margin-bottom: 20px; }
 #primarycontent { position: relative; padding: 0 5px 0 5px; min-height:400px; height:auto !important; height:400px; line-height:1.5; }
 #primarycontent h2 { position: relative; top: 4px; font-size: 18px; line-height:1.5; color: #656551; letter-spacing: -1px; background: url('theme/a22.gif?1477855309') bottom repeat-x; padding: 0px 0px 5px 0px; margin-bottom: 10px; }
 #primarycontent .content { padding: 0px 15px 0px 15px; margin-bottom: 20px; }
 #primarycontent .post { margin-bottom: 30px; }
 #primarycontent .post .header { position: relative; }
 #primarycontent .post .date { position: absolute; right: 15px; top: 0px; line-height: 35px; color: #AFAFA4; font-weight: bold; }
 #primarycontent .post .content { margin-bottom: 0px; }
 #primarycontent .post .footer { position: relative; top: -10px; background: url('theme/a33.gif?1477855309') repeat-x; height: 64px; }
 #primarycontent .post .footer ul { list-style: none; position: absolute; right: 15px; bottom: 15px; }
 #primarycontent .post .footer ul li { display: inline; line-height: 14px; padding-left: 17px; margin-left: 25px; background-repeat: no-repeat; background-position: 0px 2px; }
 #primarycontent .post .footer ul li.printerfriendly { background-image: url('theme/a41.gif?1477855309'); }
 #primarycontent .post .footer ul li.comments { background-image: url('theme/a36.gif?1477855309'); }
 #primarycontent .post .footer ul li.readmore { background-image: url('theme/a38.gif?1477855309'); }
 #footer { position: relative; clear: both; height: 66px; text-align: center; line-height: 66px; background-image: url('theme/a50.gif?1477855309'); color: #A8A88D; margin-top: 40px; }
 #footer a { color: #8C8C73; }
 #wsite-menus .wsite-menu-wrap { z-index: 5000; }
 #wsite-menus .wsite-menu { padding: 0; margin: 0; list-style: none; }
 #wsite-menus .wsite-menu li { float: left; clear: left; width: 170px; text-align: left; }
 #wsite-menus .wsite-menu li a { position: relative; display: block; width: 100%; background: #fff; border-right: 1px solid #fff; border-left: 1px solid #fff; border-bottom: 1px solid #e6e6e6; text-decoration: none; font-family: Verdana, "trebuchet ms", helvetica, sans-serif; font-size: 11px; font-weight: bold; line-height:1; padding:3px; color: #4a4a24; }
 #wsite-menus .wsite-menu li a:hover { border-right: 1px solid #d2d2b2; border-left: 1px solid #d2d2b2; border-bottom: 1px solid #d2d2b2; background: #d2d2b2; }
 #wsite-menus span.wsite-menu-title { display: block; padding: 5px 10px; }
 #wsite-menus span.wsite-menu-more { background: transparent url(http://images.weebly.com/weebly/images/submenu_arrow.gif) no-repeat center top; display: block; position: absolute; right: 5px; top: 0; font-family: Courier; height: 28px; line-height: 28px; padding:1px 0 3px 0; }

div.paragraph ul, div.paragraph ol { padding-left: 3em !important; margin: 5px 0 !important; overflow:hidden; }
div.paragraph li { padding-left: 5px !important; margin: 3px 0 0 !important; }
div.paragraph ul, div.paragraph ul li { list-style: disc outside !important; }
div.paragraph ol, div.paragraph ol li { list-style: decimal outside !important; }
blockquote { margin: 10px 0; padding-left: 20px; border-left: 4px solid #ddd; font-style: italic; line-height: 170%; }